/* ============================= */
/* DLL Option */
/* ============================= */

.dll-option {
    width: 100%;

    min-height: 68px;

    padding:
        10px 14px 10px 16px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 16px;

    border:
        1px solid #303746;

    border-radius: 10px;

    background: #1b212d;

    color: white;

    text-align: left;

    font-size: 15px;

    cursor: pointer;

    transition:
        background .2s,
        border-color .2s,
        transform .2s;
}


.dll-option:hover {
    background: #252e3e;

    border-color: #4f8cff;

    transform:
        translateX(2px);
}


/* ============================= */
/* DLL Option Text */
/* ============================= */

.dll-option-text {
    flex: 1;

    min-width: 0;

    overflow-wrap: anywhere;
}


/* ============================= */
/* DLL Option Icon */
/* ============================= */

.dll-option-icon {
    width: 48px;
    height: 48px;

    flex: 0 0 48px;

    object-fit: cover;

    border-radius: 10px;

    background: #202635;

    display: block;
}
